/*=========================
		GLOBAL SETTINGS STYLE SHEET
=========================*/

/*======================GLOBAL STYLES======================*/
body {
	font-family: Tahoma, sans-serif;
	text-align: center;
	font-size: 1em;
	padding: 1em;
}
h1 { 
	font-size: 2em;
	padding: 30px;
}
p {
	font-size: 0.9em;
	text-align: justify;
	line-height: 1.5;
}
span {

}

/*======================DIV CONTAINERS======================*/
#main {
	width: 98%;
	max-width: 960px;
	margin: auto;
	padding: 0;
	text-align: left;
	background-color: #D2FFD7;
}
#header { 
	height: 100px;
	text-align: left; 
	background-color: #437F4A;
	color: #D2FFD7;
}
#content { 
	clear: both; 
	margin: 3em;
}
#output_section {
	padding-top: 2em;
	padding-bottom: 2em;
	border-top: 2px solid #437F4A;
}
#footer { 
	clear: both;
	background-color: #437F4A;
	height: 40px;
}
#footer img { 
	padding: 5px; 
	float: left;
	border: none;
}
#footer p {
	text-align: right;
	font-size: 0.6em;
	padding: 5px;
}
#button {
	padding: 15px 0;
	margin-left: 22%;
	clear: both;
}

/*======================GLOBAL CLASSES======================*/
.row { 
	clear: both;
}
.col1 {
	float: left;
	text-align: right;
	width: 20%;
	margin: 5px;
}
.col2 {	
	float: left;
	width: 150px;
	margin: 5px;
}
.col3{
	float: left;
	margin: 5px;
	font-size: 0.8em;
}
