/*=========================
		GLOBAL SETTINGS STYLE SHEET
=========================*/

/*======================GLOBAL STYLES (FROM YUM JUICE CLASS WORK IN YEAR 1)======================*/
body {
	padding: 10px;
	margin: 0;
	text-align: center; /* centre the main section in IE */
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.85em;
}
#main {
	width: 960px;
	margin: auto;
	padding: 0;
	text-align: left;
	border: 1px solid #000000;
}
#header {
	background-color: #D8FA9E;
	text-align: left; 
}
#content, #helpcontent {
	clear: both; 
	margin: 0;
	overflow : auto;
}
#helpcontent img { 
	padding: 10px; 
}
.noBorders {
	border: none;
}
#footer {
	background-color: #D8FA9E;
	border-top: 1px solid #000000;
	line-height: 4em;
	clear: both;
	min-height: 4em;
}
/* paragraphs and headings */
p {
	padding: 0 0.5em; 
	font-size: 0.85em;
	text-align: justify;
	line-height: 1.5em;
}
h1 { 
	margin: 0;
	font: italic bold 2em Tahoma, Arial, sans-serif;
	color: #323200;
	background-image: url(images/yumlogo.gif);
	background-repeat: no-repeat;
	padding: 18px 0px 15px 146px;
}
h2 {
	padding: 0 0.5em; 
}
.pad10 {
	padding-left: 10px;
}
#commonlinksbar {
	background-color: #D8FA9E;
	font-size: smaller;
	float: right;
}
#topnavcontainer {
	background-color: #D8FA9E;
	border-bottom: 1px solid #000000;
}
#topnavcontainer li {
	display: inline;
}
#topnavbar {
	padding: 3px 0;
	margin: 0 0 0 30%;
}
 #topnavbar li {
	list-style: none;
	margin: 0;
	display: inline;
 }
#topnavbar li a {
	background-color: #B8F63D;
	padding: 0 0.3em 3px 0.3em;
	margin-left: 0;
	border: 1px solid #000000;
	text-decoration: none;
	font: bold 1em Tahoma, Arial, sans-serif;
	color: #000000;
}
#topnavbar li a:hover {
	background-color: #DCFB9F;
}
#topnavbar li a.current {
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #008000;
	background-color: #008000;
	color: #FFFFFF;
}
/* Features */
.featureblock {
	margin: 0.3em 0.3em 0 0.3em;
	padding: 0.3em;
}
.featureblock h3 {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 1.2em;
	margin: 0.1em;
	border-bottom: 1px solid #999999;
}
img.feature {
	float: left;
}
.sitemap{
	padding: 15px 0 15px 15px;	
	border-bottom: 1px solid #000000;
}
.progressIndicator {
	background: #FFFFFF;
	padding-left: 47px;
	margin-bottom: 10px;
	border-bottom: 2px solid #000000;
}
/*==================GLOBAL DIV CONTAINERS AND CLASSES=================*/
.clearBoth {
	clear: both;
}
.error, .error div {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
.left { float: left; }
.right { float: right; }
.alignCenter {
	text-align: center;
}
.hidden {
	visibility: hidden
}
/*=================SHOPPING BAR================*/
#ShopBar {
	clear: both;
	float: left;
	position: relative;
	width: 100%;
	height: 40px;
	background: #008000;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid #000000;
}
#shopTitle {
	padding: 1em;
	font-size: 1em;
	font-weight: bold;
	color: #D8FA9E;
}
#ShopBar img {
 border: none;
}
#ShopBar li {
	list-style: none;
	float: right;
	margin-top: -14px;
}
#ShopBar li button, #ShopBar li a {
	display: block;
	text-decoration: none;
	background: #FFFFFF;
	color: #5550FF;
	margin: 0;
	height: 40px;
	width: auto;
	border: none;
}
#ShopBar li button:hover, #ShopBar li a:hover {
	background: #DCFB9F;
}
#ShopBar li ul {
	display: none;
	margin-top: 14px;
}
#ShopBar li:hover ul {
	display: block;
	position: absolute;
	margin-left: -352px;
}
#helpButton {
	border-left: 1px solid #DDDBD7;
}
#helpButton img {
	padding: 5px;
}
#ButtonContainer {
}
#ButtonContainerName {
	float: left;
}
#ButtonContainerName img {
	padding: 5px;
}
#ButtonContainerDescriptions {
	float: left;
	font-size: 12px;
}
#ButtonContainerDescriptions div {
	clear: right;
	float: right;
	width: 40px;
	text-align: right;
	padding: 2px 5px 0 0;
}
#ButtonContainerOutputs {
	float: left;
	font-size: 12px;
}
#ButtonContainerOutputs div {
	clear: left;
	min-width: 60px;
	padding: 2px 5px 0 0;
}
/*=================SHOPPING CART IN SHOPPING PAGE===============*/
#shoppingCartSummary {
	width: 500px;
	background: #FFFFFF;
	margin: 0;
	padding: 10px;
	font-size: 13px;
	border: 1px solid #000000;
}
#control {
	float: right;
	margin: auto;
}
#control input {
	border: 1px solid #F5F5F5;
	background: #DDDBD7;
}
#control input:hover {
	background: #DCFB9F;
}
#control p {
	margin: 0;
	padding: 5px;
}
#shoppingCartItems {
	padding-bottom: 10px;
	padding-top: 10px;
	clear: both;
	line-height: 20px;
}
.shpHeadings {
	width: 100%;
	margin: auto;
	float: left;
	border-bottom: 1px solid #000000;
}
.shpItemH, .shpQuantityH, .shpAmountH, .shpRemoveH {
	float: left;
}
.shpContainer {
	border-bottom: 1px solid #DDDBD7;
	clear: both;
	float: left;
	width: 100%;
	margin: auto;
}
.shpItem, .shpQuantity, .shpQuantity div, .shpAmount, .shpRemove {
	float: left;
}
.shpQuantity div {
	padding: 0;
	min-width: 23px;
	text-align: center;
}
.shpQuantityH, .shpQuantity { width: 100px; }
.shpAmountH, .shpAmount { width: 80px; }
.shpItemH, .shpItem { width: 250px; }
.shpRemoveH, .shpRemove {}
#shoppingCartTotals {
	clear: both;
	border-top: 1px solid #000000;
	padding-top: 10px;
}
.shpTotalsH { 
	clear: left;
	float: left;
	width: 150px;
	padding-right: 10px;
	border-bottom: 1px solid #DDDBD7;
}
.shpTotals {
	float: left;
	border-bottom: 1px solid #DDDBD7;
}
/*===============SHOPPING CART IN CHECKOUT PAGE======================*/
#CheckoutCartItems {
	clear: both;
	float: left;
	line-height: 20px;
	font-size: 14px;
}
#chkItemsInCart {
	clear: both;
	padding: 0 10px 0 10px;
}
.chkHeadings {
	width: 940px;
	margin: auto;
	float: left;
	border-bottom: 1px solid #000000;

	margin: 0 10px 0 10px;
}
.chkCodeH, .chkItemH, .chkPriceH, .chkQuantityH, .chkAmountH, .chkRemoveH {
	float: left;
}
.chkContainer {
	border-bottom: 1px solid #DDDBD7;
	clear: both;
	float: left;
	width: 100%;
	margin: auto;
}
.chkCode, .chkItem, .chkPrice, .chkQuantity, .chkQuantity div, .chkAmount, .chkRemove {
	float: left;
}
.chkQuantity div {
	padding: 0;
	min-width: 23px;
	text-align: center;
}
.chkCodeH, .chkCode { width: 100px; }
.chkQuantityH, .chkQuantity { width: 150px; }
.chkAmountH, .chkAmount { width: 100px; }
.chkPriceH, .chkPrice { width: 100px; }
.chkItemH, .chkItem { width: 400px; }
.chkRemoveH, .chkRemove {}

#chk1Options {
	font-size: 12px;
	clear: both;
	float: left;
	padding: 10px;
	margin: 20px 80px 0px 80px;
	border: 2px solid #008000;
	box-shadow: 8px 8px 2px #D8FA9E;
}
#checkoutCartTotals {
	clear: both;
	padding: 40px 10px 10px 10px;
	width: 52%;
}
.chkTotalsH {
	clear: left;
	float: left;
	width: 150px;
	padding-right: 10px;
}
.chkTotals { 
	float: left;
	min-width: 60px;
}
.plusButton {
	background: url( 'images/plus.png' ) no-repeat center;
	border: none;
	margin-left: 5px;
	min-height: 16px;
	min-width: 16px;
}
.minusButton {
	background: url( 'images/minus.png' ) no-repeat center;
	border: none;
	margin-right: 5px;
	min-height: 16px;
	min-width: 16px;
}
.removeButton {
	background: url( 'images/remove.png' ) no-repeat center;
	border: none;
	padding: 0 40px 0 0px;
	min-height: 16px;
	min-width: 16px;
}
/*=================ADRESS PAGE (CHECKOUT2)================*/
.chk2Halves {
	width: 460px;
	float: left;
	padding: 10px;
}
.chk2Headings {
	clear: left;
	width: auto;
	float: left;
}
.chk2Names {
	clear: left;
	width: 120px;
	float: left;
}
.chk2Boxes {
	width: auto;
	float: left;
	margin: 0 5px 0 5px;
}
.chk2Tick {
	float: left;
	clear: left;
	margin: 0 0 10px 0;
	padding: 5px;
	border: 1px solid #FFFFFF;
}
.chk2Error {
	padding: 0;
	float: left;
	min-width: 18px;
	min-height: 18px;
}
.chk2Error img {
	padding: 0 0 0 5px;
}
/*=================SUMMARY PAGE (CHECKOUT3)================*/
#summaryHolder {
	font-size: 0.85em;
}
.confirmHeading {
	clear: both;
	float: left;
	width: 100%;
	border-bottom: 1px solid #000000;
	padding: 0;
	margin: 0;
	background-color: #008000;
	height: 35px;
}
.confirmHeading h3 {
	padding: 0.5em;
	margin: 0;
	color: #D8FA9E;
}
#chk3OrderInfo {
	margin: 10px;
	clear: both;
	float: left;
	border: 1px solid #000000;
}
#chk3Basket {
	clear: both;
	float: left;
	width: auto;
	padding: 0 20px 10px 10px
}
#chk3Totals {
	float: left;
	padding: 10px;
	padding: 0 20px 10px 10px
}
#chk3Customer {
	margin: 10px;
	clear: both;
	float: left;
	border: 1px solid #000000;
}
#chk3CustomerBilling {
	clear: both;
	float: left;
	padding: 10px;
	padding: 0 20px 10px 10px
}
#chk3CustomerShipping {
	float: left;
	padding: 10px;
	padding: 0 20px 10px 10px
}
#chk3ShipByBox {
	margin: 10px;
	float: left;
	border: 1px solid #000000;
}
#chk3ShipBy {
	clear: both;
	float: left;
	padding: 10px;
	padding: 0 20px 10px 10px
}
.chk3Edit {
	float: right;
	margin: 0;
}
.chk3Edit button {
	padding: 0;
	margin: 0;
	border-left: 1px solid #000000;
	border-right: none;
	border-top: none;
	border-bottom: none;
	background: #FFFFFF;
}
.chk3Edit button:hover {
	background-color: #DCFB9F;
}
.chk3EditIcon {
	float: left;
	border: none;
	margin-right: 6px;
}
.chk3EditIcon img {
	border: none;
}
.chk3EditDescription {
	float: left;
	font-size: 13px;
	border: none;
	line-height: 30px;
	padding: 0 6px 0 6px;
}
/*=================PAYEMENT PAGE (CHECKOUT4)================*/
#chk4TotalHolder {
	width: 100%;
	text-align: center;
	font-weight: bold;
	padding: 10px 0 10px 0;
}
#chk4Total {}
#chk4CCDetails {
	border: 1px solid #000000;
	clear: both;
	float: left;
    position:relative;
    width:440px;
    left: 50%;
    margin: 0 0 20px -220px;
}
#chk4CCDetailsHeading {
	clear: both;
	float: left;
	width: 100%;
	border-bottom: 1px solid #000000;
	padding: 0;
	margin: 0;
	background-color: #008000;
}
#chk4CCDetails h3 {
	padding: 0.5em;
	margin: 0;
	color: #D8FA9E;
}
.chk4Heading {
	clear: both;
	float: left;
	width: 190px;
	text-align: right;
	padding: 3px 10px 3px 10px;
	min-height: 24px;
}
.chk4Box {
	float: left;
	padding: 3px 10px 3px 10px;
}
.chk4Error {
	padding: 0 3px 0 3px;
	float: right;
}
.chk4Error img {
	padding: 0 0 0 5px;
}
/*=================ACTION BUTTONS================*/
.actions {
	clear: both;
	float: right;
}
.actions button {
	background: #FFFFFF;
	padding: 0;
	margin: 10px;
	border: 1px solid #000000;
}
.actions button:hover {
	background-color: #DCFB9F;
}
.actionContainer {
	float: left;
	padding: 0;
}
.actionPic {
	float: left;
	padding: 2px;
	border: none;
}
.actionPic img {
	border: none;
}
.actionDescription {
	float: left;
	font-size: 13px;
	border: none;
	line-height: 34px;
	padding: 0 2px 0 2px;
}
.chkFeedback {
	float: left;
	padding-right: 10px;
}
/*=================SHOPPING INVENTORY================*/
#products {
	float: left;
}
#products h3 {
	padding: 0.5em;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	background-color: #D8FA9E;
}
#juice, #smoothie {
	width: 960px;
	margin: 0;
	float: left;
}
.itemContainer {
	border-top: 2px solid #D8FA9E;
	border-bottom: 2px solid #D8FA9E;
	width: 100%;
	margin: 5px 0 5px 0;
	height: 100px;
	clear: both;
	float: left;
}
.image {
	float: left;
	padding-right: 10px;
}
.name {
	margin: auto;
}
.description {
	margin: auto;
}
.buyInterface {
	float: right;
	width: 100px;
	padding-left: 10px;
}
.price {
	font-size: 13px;
	width: 100%;
	text-align: center;
}
.addAmount {
	width: 25px;
	text-align: center;
	margin-top: 15px;
}
.addButton {}
/*===============INFORMATION BUTTONS AND POPUPS================*/
.infoButton {
	background: url( 'images/info.png' ) no-repeat center;
	border: none;
	min-width: 18px;
	min-height: 18px;
}
.infoHolder {
	float: left;
	padding: 0 6px 0 6px;
}
#infoItemTotal, #infoVAT, #infoShipping, #infoSubTotal, #infoDiscount {
	float: left;
}
.showBubble {
	position: fixed;
	width: 300px;
	border: 1px solid #000000;
	background: #FFFFFF;
	padding: 10px;
	font-size: 13px;
}
.showBubble h3 {
	padding: 0;
	margin: 0;
}
.hideBubble {
	display: none;
}
/*===============ERROR FEEDBACK================*/
#errorShipping {
	padding: 0 5px 0 5px;
	min-height: 18px;
	min-width: 18px;
}
/*---------------------Feedback message styles--------------------*/
.positive {
	font-size: 13px;
	color: green;
}
.neutral {
	font-size: 13px;
	color: #000000;
}
.negative {
	font-size: 13px;
	color: red;
}